.films {
  display: flex;
  flex-wrap: wrap;
}

.film {
  width: 300px;
  height: 500px;
  background-color: rgb(253, 250, 250);
  box-shadow: 2px 2px 2px grey;
  margin: 3px 6px;
}

.titre {
  background-color: rgb(0, 0, 0);
  color: white;
}

.poster {
  width: 50%;
  cursor: pointer;
}

.movie {
  font-style: italic; 
  background-color: rgb(182, 182, 182);
  margin-bottom: 10px;
}

.series {
  font-style: italic; 
  background-color: rgb(183, 202, 255);
  margin-bottom: 10px;
}
